<div class="card">
    <div class="card-body">
        <h4 class="card-title">Busqueda</h4>
        <p class="card-text">wiki</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pais</li>
        <li class="list-group-item" routerLink="continente" routerLinkActive="active">Continente</li>
        <li class="list-group-item" routerLink="capital" routerLinkActive="active">Capital</li>
    </ul>
</div>