<h1>{{accion}} carta</h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

    <div fxFlex="50">
        <img [src]="Carta.imagen">
    </div>
    
    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column">

        </div>

        <mat-form-field fxFlex="100">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" required [(ngModel)]="Carta.nombre">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Categoria</mat-label>
            <input matInput type="text" required [(ngModel)]="Carta.categoria">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Tipo</mat-label>
            <mat-select required [(ngModel)]="Carta.tipo">
                <mat-option [value]="'Normal'">Normal</mat-option>
                <mat-option [value]="'Efecto'">Efecto</mat-option>
                <mat-option [value]="'Magica'">Magica</mat-option>
                <mat-option [value]="'Trampa'">Trampa</mat-option>
                <mat-option [value]="'Ritual'">Ritual</mat-option>
                <mat-option [value]="'Fusion'">Fusion</mat-option>
                <mat-option [value]="'Synchro'">Synchro</mat-option>
                <mat-option [value]="'XYZ'">XYZ</mat-option>
                <mat-option [value]="'Pendulum'">Pendulum</mat-option>
                <mat-option [value]="'Link'">Link</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Arquetipo</mat-label>
            <input matInput type="text" required [(ngModel)]="Carta.arquetipo">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Descripcion</mat-label>
            <input matInput type="text" required [(ngModel)]="Carta.descipcion">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Estadisticas</mat-label>
            <input matInput type="text" required [(ngModel)]="Carta.estadisticas">
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Imagen</mat-label>
            <input matInput type="text" required [(ngModel)]="Carta.imagen">
        </mat-form-field>

        <br>

        <div>
            <button mat-raised-button color="primary" (click)="grabar()"> <mat-icon>edit</mat-icon>{{accion}}</button>
            <span class="spacer"></span>
            <button mat-raised-button color="warn" (click)="eliminar()" *ngIf="!nuevo"> <mat-icon>delete</mat-icon>Eliminar</button>
        </div>
        
    </div>
</div>